.App {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #34113f;
  color: #fff;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.nav-button.nav-link {
  color: #000 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background: #aba9bf !important; */
  align-items: left;
  display: flex;
  justify-content: start;
}

li {
  float: left;
}

li a {
  display: block;
  color: #aba9bf !important;
  text-align: center;
  padding: 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}

.quote {
  margin: 0;
  background: #eee;
  padding: 5em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.bigger {
  font-size: 120%;
}
/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

h1 {
  font-size: 2rem;
}
hr.solid {
  border-top: 3px solid #ccc;
}

.initialBlock {
  background: rgb(184, 184, 194);
  background: linear-gradient(
    186deg,
    rgba(184, 184, 194, 1) 0%,
    rgba(255, 255, 255, 1) 28%
  );
}

.qoute1 {
  background: rgb(144, 144, 152);
  background: linear-gradient(
    0deg,
    rgba(144, 144, 152, 1) 0%,
    rgba(227, 227, 227, 1) 20%,
    rgba(227, 227, 227, 1) 80%,
    rgba(144, 144, 152, 1) 100%
  );
}

.edit_hover_class {
  /* background-image: url("./images/PoliceCars.JPG"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 510px;
  height: 400px;
  border-radius: 20px;
}

.edit_hover_class a {
  display: none;
}

.edit_hover_class:hover a {
  display: block;
  float: right;
}

.chart-legend {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.legend-value {
  margin-bottom: 15px;
}

.legend-block {
  width: 40px;
  height: 20px;
  /* float: left; */
  /* margin-right: 10px; */
  border: #bbb solid 1px;
}

.alert {
  width: 200px;
  height: 80px;
  background: rgb(1, 1, 32);
  background: linear-gradient(
    307deg,
    rgba(1, 1, 32, 1) 0%,
    rgba(46, 53, 114, 1) 100%
  );
  cursor: hand;
  position: absolute;
}
.alert:hover .ytp-progress-tooltip {
  display: block;
}

.alert-text {
  position: absolute;
  top: 2px;
  left: 30px;
}

.tableContainer {
  max-height: 800px;
  overflow: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 4px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #f1f1f1 !important;
  border-radius: 5px;
  width: 30%;
  height: 50%;
  margin: 0 !important;
  position: absolute;
  top: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-animation: bummer 0.5s;
  animation: bummer 0.5s;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; /* Add this so that your modal doesn't 
                                      close after the animation completes */
}

@-webkit-keyframes bummer {
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes bummer {
  100% {
    transform: scale(1, 1);
  }
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.nav-button {
  align-items: center;
  background: rgb(41, 41, 70);
  background: linear-gradient(
    0deg,
    rgba(41, 41, 70, 1) 0%,
    rgba(82, 68, 162, 1) 77%,
    rgba(150, 144, 157, 1) 100%
  );
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  box-shadow: rgba(1, 1, 1, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.nav-button.active {
  background: #ced4da;
  color: black;
}
.nav-button:hover {
  background: rgb(41, 41, 70);
  background: linear-gradient(
    180deg,
    rgba(41, 41, 70, 1) 0%,
    rgba(82, 68, 162, 1) 77%,
    rgba(150, 144, 157, 1) 100%
  );
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-selected-option {
  font-weight: 600;
  color: rgb(46, 37, 133);
}

.brandedHeader {
  background: rgb(1, 1, 32);
  background: linear-gradient(
    9deg,
    rgba(1, 1, 32, 1) 0%,
    rgba(78, 46, 114, 1) 100%
  );
  border-bottom: thick double #32a1ce;
}

.brandedBG {
  background-image: url("./images/logo_transparent.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
